<div >

  <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                  <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                  <div class="col-lg-7">
                      <div class="p-5">
                          <div class="text-center">
                              <h1 *ngIf="!estAdmin()" class="h4 text-gray-900 mb-4">Creer votre compte!</h1>
                              <h1 *ngIf="estAdmin()" class="h4 text-gray-900 mb-4">Ajouter un utilisateur!</h1>
                          </div>
                          <form class="user" [formGroup]="form" (ngSubmit)="ngSubmit()">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="exampleInputId"
                                    placeholder="id" formControlName="id">
                            </div>
                              <div class="form-group row">
                                  <div class="col-sm-6 mb-3 mb-sm-0">
                                      <input formControlName="prenom" type="text" class="form-control form-control-user" id="exampleFirstName"
                                          placeholder="Prenom" >
                                  </div>
                                  <div class="col-sm-6">
                                      <input formControlName="nom" type="text" class="form-control form-control-user" id="exampleLastName"
                                          placeholder="Nom">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <input formControlName="email" type="email" class="form-control form-control-user" id="exampleInputEmail"
                                      placeholder="Adress Email">
                              </div>
                              <div class="form-group row">
                                  <div class="col-sm-6 mb-3 mb-sm-0">
                                      <input formControlName="password" type="password" class="form-control form-control-user"
                                          id="exampleInputPassword" placeholder="Mots de passe">
                                  </div>
                                  <div class="col-sm-6">
                                      <input formControlName="password2" type="password" class="form-control form-control-user"
                                          id="exampleRepeatPassword" placeholder="Repeter le mots de passe">
                                  </div>
                              </div>
                              <button type="submit" class="btn btn-primary btn-user btn-block">
                                  Creer un compte
                              </button>
                              <hr>
                              <a *ngIf="!estAdmin()" href="ConnectionGoogleSuccesComponent?operation_encoure=inscription" class="btn btn-google btn-user btn-block">
                                <i class="fa fa-google-plus"></i> Creer ave Google
                              </a>
                              <a *ngIf="!estAdmin()" href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fa fa-facebook"></i> creer avec Facebook
                              </a>
                          </form>
                          <hr>
                          <div class="text-center">
                              <a class="small" href="forgot-password.html">Recuperer son compte ?</a>
                          </div>
                          <div class="text-center">
                              <a class="small" href="login.html">Vous avez un compte? Connecter vous!</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</div>
