@if(this.isopen()){
<div  class="divmodif" style="background-color: rgb(231, 240, 252);padding-left: 7px;padding: 2px;">
  <h2 style="margin: 0px;padding: 0px;">Message</h2>
  <div style="height: 43px;padding-top: 7px;overflow-y: auto;padding-left: 12px;">
    <div *ngFor="let al of GlobaleS.listalertText">{{al}}</div>
  </div>
  <div style="display: grid;height: 20px;">
    <button style="justify-self: end;background-color: rgb(161, 161, 161);border-radius: 3px;font-weight: 700;color: aliceblue;" (click)="fermer()">Close</button>
  </div>

  <!-- <div [style]="GlobaleS.getStylelaceCentre(500,10,undefined)" style="z-index: 9999999;">
      <div class="alert alert-success alert-dismissible" *ngFor="let al of GlobaleS.listalertText">
          <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="GlobaleS.fermerAlert()"></button>
          {{al}}
      </div>
      </div>
      -->
</div>
}

