.divmodif {
  background-color: #FFF;
  position: fixed;
  z-index: 999;
  top: 20%;
  left: 80%;
  width: 320px;
  transform: translate(-80%,-20%);
  height: 100px;
  border-radius: 5px;

}
button:hover{
  background-color: #8e8a8a;
}
