/*
form{
    margin: 0%;
    padding: 15px;
    box-shadow: 0px 0px 10px rgb(12, 18, 63);
    background-color: rgb(181, 213, 241);
    color: black;
    font-weight: 700;
}
input{
    margin-bottom:8px ;
    height: 35px;
}
button{
    margin-left: 4%;
    min-width: 60px;
    margin-top: 5px;
    text-align:center ;
}*/

input {
  margin-bottom: 8px;
}

form {
  justify-self: center;
  width: 100%;
  max-width: 400px;
  min-width: 200px;

}

.form-group {
  display: flex;
  width: 100%;
}

h4 {
  width: 30px;
  margin-right: 20px;
  // transform:translateY(-20%);
}

mat-form-field {
  width: 90%;
  height: 70px;
}

.btnnew {
  justify-self: center;
  background-color: rgb(35, 67, 95);
  color: #FFF;
  text-align: center;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.appointment {
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 50px;
  display: grid;
  width: 100%;
}

.divparent {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  overflow-y: auto;
  padding-right: 5%;
}
