.pro-features {
	position: fixed;
	right: -210px;
	width: 150px;
	height: auto;
	line-height: 46px;
	font-size: 14px;
	background: #fff;
	text-align: left;
	color: #333;
	top: 50%;
	transform:translateY(-50%);
	box-shadow: -4px 0px 5px #00000036;
	color: #fff;
	z-index: 9999;
	padding:20px 30px 30px 30px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.pro-features.active2{
	right:0px;
}
.pro-features li.big-title {
	font-weight: 600;
	color: #1A76D1;
	font-size: 15px;
}
.pro-features li.title {
	font-weight: 600;
	color: #1A76D1;
	font-size: 15px;
}
.pro-features .button .btn {
	width: 100%;
	text-align: center;
	margin-top: 8px;
	display: inline-block;
	//float: left;
	font-size: 13px;
	width: 100%;
	text-transform: capitalize;
}
.pro-features li {
	color: #333;
	margin: 0px;
	padding: 0px;
	line-height: 22px;
	margin-bottom: 10px;
}
.get-pro {
	position: absolute;
	left: -80px;
	width:80px;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	border-radius: 5px 0 0 5px;
	background: #1A76D1;
	text-align: center;
	color: #fff;
	top: 0px;
	cursor: pointer;
	box-shadow: -4px 0px 5px #00000036;
}
a{
	background: #1A76D1;
  border-radius: 10px;
  cursor: pointer;
}

