@if(isopen()){
<div style="position: fixed;top:0px;right: 0px;bottom: 0px;left: 0px;background-color: #555;opacity: 0.5;z-index: 9;" ></div>
<div class="divmodif">

<div  style="height: 91%;overflow-y: auto;" >
   <app-formadlavage></app-formadlavage>
</div>
<br>
<div style="display: grid;"><button style="max-width: 200px;padding: 3px;height: 25px;border-radius: 5px;background-color: #555;color: aliceblue;font-weight: 800;margin-right: 10px;justify-self: end;" (click)="fermer()" class="cancel">Cancel</button></div>
</div>
}
